<!-- header.component.html -->

<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">
      <img src="assets/images/logo_header.png" class="logo">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" routerLink="/destinations">Destinations</a>
        </li>
      </ul>
      <ul class="navbar-nav d-flex align-items-end justify-content-end">
        <li class="nav-item">
          <a class="nav-link" href="#" routerLink="/register">Register</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" routerLink="/login">Login</a>
        </li>
      </ul>
    </div>
  </nav>
</header>

