<app-header></app-header>
<div class="login-container">
  <h2 class="pb-5">User Login</h2>
  <form class="form-container" [formGroup]="formLog" (submit)="onSubmit()">
      <div class="mb-3 input-section">
          <label class="form-label">E-mail</label>
          <input type="email" class="form-control" placeholder="E-mail" formControlName="email">
      </div>
      <div class="mb-3 input-section">
          <label class="form-label">Password</label>
          <input type="password" class="form-control" placeholder="Password" formControlName="password">
      </div>
      <div class="buttons-section">
          <button type="submit" class="btn btn-primary button-login">Login</button>
          <a href="home" class="btn btn-secondary">Home</a>
      </div>
  </form>
</div>
