<h2>User Login</h2>
<div>
  <form [formGroup]="formLog" (submit)="onSubmit()">
      <div class="mb-3">
          <label class="form-label">Email</label>
          <input type="email" class="form-control" placeholder="enter email" formControlName="email">
      </div>
      <div class="mb-3">
          <label class="form-label">Password</label>
          <input type="password" class="form-control" formControlName="password">
      </div>
      <input type="submit" value="Enviar">
  </form>
</div>
