
<div class="modal-dialog">
   <div class="modal-content">

     <!-- Modal Header -->
     <div class="modal-header">
       <h4 class="modal-title">Payment Confirmation</h4>
       <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
     </div>

      <!-- Modal body -->
     <div class="modal-body">
       Do you want to continue?
     </div>

      <!-- Modal footer -->
     <div class="modal-footer">
      <button type="button" class="btn btn-primary" (click)="onConfirm()">Confirm</button>
      <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="onCancel()">Cancel</button>
     </div>
   </div>
</div>

