.destinations-container {
  display: flex;
  justify-content: center;
  margin: 0;
  flex-direction: column;
  padding: 0;
  text-align: center;
  align-items: center;
  margin-top: 8rem;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;
}

.destination-input {
  width: 20rem;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
}

.category-input {
  width: 20rem;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
}

.date-input {
  width: 20rem;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
}

.buttons-section {
  display: flex;
  width: 100%;
  justify-content: end;
  margin-top: 1rem;
}

.button-search {
  margin-right:1rem;
}

.btn-primary {
  background-color: #f37321;
  border-color: #f37321;
}

.btn-primary:hover {
  background-color: #e05d17;
  border-color: #e05d17;
}
