.card {
  height: 25rem;
}

.card-img-top {

  height: 10rem;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 40px;
}

h1 {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 40px;
}

.form-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.form-group {
  flex: 0 0 30%;
}

.form-control {
  width: 100%;
}

.btn-primary {
  background-color: #f37321;
  border-color: #f37321;
}

.btn-primary:hover {
  background-color: #e05d17;
  border-color: #e05d17;
}


@media screen and (max-width: 768px) {
  .form-group {
    flex: 0 0 100%;
  }
}
