
<!-- Header section -->
<header>
  <app-header class="header-section"></app-header>
</header>

<!-- Main content section -->
<section class="details-container">
  <div class="container">
    <h1> Package Name </h1>
    <p> Package description </p>
    <p> What's included </p>
    <p> Package description </p>

    <!-- <h1>{{ packageDetails.name }}</h1>
    <p>{{ packageDetails.description }}</p>
    <p>Category: {{ packageDetails.category }}</p>
    <p>Date: {{ packageDetails.date }}</p> -->
    <!-- Display other package details as needed -->
  </div>
</section>


